{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Wildlife Tracker</h2>
        <p>The animal has been successfully added</p>
        <a href="/animals" class="otherbuttons">View animals</a>
    </div>
{{/partial}}

{{> layout.hbs}}