{{#partial "content"}}
    <div class="section">
        <div class="form-left">
        </div>
        <div class="form-right">
            <h3>Add a sighting</h3>
            <form action="/sightings/new" method="post">
                <div class="form-group">
                <input class="form-control input" type="text" placeholder="Enter the ranger name..." name="rangerName" autocomplete="off">
                </div>

                <div class="form-group">
                <select class="form-control input" name="animalId" >
                    <option label="" hidden disabled selected value>Select animal...</option>
                    {{#each normalAnimals}}
                        <option>{{id}}</option><br><br>
                    {{/each}}
                    {{#each endangeredAnimals}}
                        <option>{{id}}</option><br><br>
                    {{/each}}
                </select>
                </div>

                <div class="form-group">
                <select class="form-control input" name="sightLocation">
                    <option label="" hidden disabled selected value>Enter location </option>
                    <option value="Zone A">Zone A</option>
                    <option value="Zone B">Near the River</option>
                    <option value="Zone C">NE Quadrant</option>
                </select>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}